<%= render 'shared/error_messages', object: f.object %>

<div class="hform strong">Have an account already? <%= link_to 'Sign in', new_user_session_path %></div>

<div>
	<div class="hform strong">Confirm event details</div>
	<%= f.fields_for :reservations do |builder| %>
		<div class="hform">
			<span>Date:</span>
			<% if builder.object.date? %>
				<%= builder.text_field :date, class: "datepicker", style: "width: 100px", value: builder.object.date.strftime("%m/%d/%Y") %>
			<% else %>
				<%= builder.text_field :date, class: "datepicker", style: "width: 100px" %>
			<% end %>
		</div>
		<div class="hform">
			Time:
			<% if builder.object.start_time? %>
				<%= builder.select :start_time, TIMES.keys, { selected: TIMES.key(builder.object.start_time) }, class: "time" %> to
			<% else %>
				<%= builder.select :start_time, TIMES.keys, { selected: "9:00pm" }, class: "time" %> to 
			<% end %>

			<% if builder.object.end_time? %>
				<%= builder.select :end_time, TIMES.keys, { selected: TIMES.key(builder.object.end_time) }, class: "time" %>
			<% else %>
				<%= builder.select :end_time, TIMES.keys, { selected: "1:00am" }, class: "time" %>
			<% end %>
		</div>
		<div class="hform">Number of people: <%= builder.text_field :hdct, style:"width:100px" %></div>
		<div><%= builder.hidden_field :room_id, value: @room.id %></div>
	<% end %>
</div>

<div class="hform strong">Provide your contact info</div>
<div><%= f.label :name, class: "hform" %>
<%= f.text_field :name %></div>  
<div><%= f.label :email, class: "hform" %>
<%= f.email_field :email %></div>
<div><%= f.label :phone, "Phone number", class: "hform" %>
<%= f.text_field :phone %></div>

<div class="hform strong">Create an account (optional, but will simplify additional reservations)</div>
<div><%= f.label :password, class: "hform" %>
<%= f.password_field :password %></div>  
<div><%= f.label :password_confirmation, class: "hform" %>
<%= f.password_field :password_confirmation %></div>

<script type="text/javascript">
	$(function() {
		$(".datepicker").datepicker();
	});
</script>