<div class="hform" style="margin-top:0;">Have an account already? <%= link_to 'Sign in', new_user_session_path %></div>

<%= render 'shared/error_messages', object: f.object %>

<ul class="signup">
	<li>
		<div class="hform strong" style="margin-bottom:45px;">Confirm event details</div>
		<%= f.fields_for :reservations do |builder| %>
			<div>
				<%= f.label :date, class: "hform" %>
				<% if builder.object.date? %>
					<%= builder.text_field :date, class: "datepicker", value: builder.object.date.strftime("%m/%d/%Y") %>
				<% else %>
					<%= builder.text_field :date, class: "datepicker" %>
				<% end %>
			</div>
			<div>
				<%= f.label :time, class: "hform" %>
				<% if builder.object.start_time? %>
					<%= builder.select :start_time, TIMES.keys, { selected: TIMES.key(builder.object.start_time) }, class: "time" %> to
				<% else %>
					<%= builder.select :start_time, TIMES.keys, { selected: "9:00pm" }, class: "time" %> to 
				<% end %>

				<% if builder.object.end_time? %>
					<%= builder.select :end_time, TIMES.keys, { selected: TIMES.key(builder.object.end_time) }, class: "time" %>
				<% else %>
					<%= builder.select :end_time, TIMES.keys, { selected: "1:00am" }, class: "time" %>
				<% end %>
			</div>
			<div><%= f.label :number_of_people, class: "hform" %><%= builder.text_field :hdct %></div>
			<div><%= builder.hidden_field :room_id, value: @room.id %></div>
		<% end %>
	</li>
	<li>
		<div class="hform strong" style="margin-bottom:2px">Create an account</div>
		<div style="font-style:italic;">Needed to let you track your reservations</div>
		<div><%= f.label :name, class: "hform" %>
		<%= f.text_field :name %></div>
		<div><%= f.label :email, class: "hform" %>
		<%= f.email_field :email %></div>
		<div>
			<div style="float:left;margin-right:20px;"><%= f.label :password, class: "hform" %>
			<%= f.password_field :password, style: "width:90px;" %></div>
			<div style="float:left;"><%= f.label :confirmation, class: "hform" %>
			<%= f.password_field :password_confirmation, style: "width:90px;" %></div>
		</div>
	</li>
</ul>

<script type="text/javascript">
	$(function() {
		$(".datepicker").datepicker();
	});
</script>