<h2>Submit request to <%= @bar.name %> to reserve <%= @room.name %></h2>

<div style="float:left;">
	<%= form_for( @user, html: { multipart: true } ) do |f| %>
		<div><%= render 'fields', f: f %></div>
		<div><%= f.submit "Submit", class: "btn btn-large" %></div>
	<% end %>
</div>