<% provide(:title, 'Bar sign in') %>

<h2>Bar Sign In</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="hform"><%= f.label :email %></div>
  <div><%= f.email_field :email %></div>

  <div class="hform"><%= f.label :password %></div>
  <div><%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> Remember me</div>
  <% end -%><br>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>