<p><%= @user.name %>,</p>

<p><%= @bar.name %> accepted your reservation with the following details:</p>
<ul>
	<li>Room: <%= @room.name %></li>
	<li>Date: <%= @reservation.date.strftime("%A, %B %d") %></li>
	<li>Time: <%= TIMES.key(@reservation.start_time) %>-<%= TIMES.key(@reservation.end_time) %></li>
	<li>Number of people: <%= @reservation.hdct %></li>
</ul>

<p>If you still want this reservation, confirm it ASAP (if not, then cancel it). Note that other requests for the same night will be automatically cancelled once a reservation is confirmed.<br>
<%= link_to 'Confirm', user_accepts_reservation_url(@reservation.id), target: "_blank" %> | 
<%= link_to 'See all reservations', user_index_reservations_url, target: "_blank" %>
</p>

<p>Cheers,<br>
The BarSlice Team</p>