<p><%= @user.name %>,</p>

<p><%= @bar.name %> is unable to accomodate your reservation with the following details:</p>
<ul>
	<li>Room: <%= @room.name %></li>
	<li>Date: <%= @reservation.date.strftime("%A, %B %d") %></li>
	<li>Time: <%= TIMES.key(@reservation.start_time) %>-<%= TIMES.key(@reservation.end_time) %></li>
	<li>Number of people: <%= @reservation.hdct %></li>
</ul>

<p>Click <%= link_to 'here', user_index_reservations_url %> to sign in and search for additional options for your event.</p>

<p>Cheers,<br>
The BarSlice Team</p>