<div class="dfield" style="width:60%;">
	
	Open:
	<% if f.object.open? %>
		<%= f.select :open, TIMES.keys, { selected: TIMES.key(f.object.open), include_blank: true }, class: "time" %>
	<% else %>
		<%= f.select :open, TIMES.keys, { include_blank: true }, class: "time" %>
	<% end %>

	Close:
	<% if f.object.close? %>
		<%= f.select :close, TIMES.keys, { selected: TIMES.key(f.object.close), include_blank: true }, class: "time" %>
	<% else %>
		<%= f.select :close, TIMES.keys, { include_blank: true }, class: "time" %>
	<% end %>

	Or <%= f.check_box :closed %> Closed

	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_fields remove" %><br />

	<div><br>
		<%= f.check_box :sunday %> Sun
		<%= f.check_box :monday %> Mon
		<%= f.check_box :tuesday %> Tue
		<%= f.check_box :wednesday %> Wed
		<%= f.check_box :thursday %> Thu
		<%= f.check_box :friday %> Fri
		<%= f.check_box :saturday %> Sat
	</div>
</div>