<h1><%= current_bar.name %></h1>

<div> <h2>Your events</h2> </div><br />

<div>
	<h2>Your rooms</h2>
		
	<ul class="rooms">
		<% current_bar.rooms.each do |room| %>
			<li>
				<div class="strong"><%= room.name %></div>
				<div>
					<% if room.privacy == 1 %>
						Private room
					<% elsif room.privacy == 2 %>
						Semi-private room
					<% else %>
						Shared space
					<% end %> |

					Capacity <%= room.min_head_count %>-<%= room.max_head_count %> |

					<% if room.min_spend == nil || 0 %>
						No minimum spend
					<% else %>
						Mimimum spend of $<%= room.min_spend %>
						<% if room.per_person == true %> per person <% end %>
					<% end %> 
				</div>
				<div>
					<%= room.description %>
				</div>
				<div>
					<%= room.roompics.each do |roompic| %>
						<%= image_tag roompic.pic.url(:thumb) %>
					<% end %>
				</div>
				<div>
					<%= link_to "delete", room, method: :delete, confirm: "You sure?" %> | 
					<%= link_to "edit", edit_room_path(room) %>
				</div>
			</li>
		<% end %>
	</ul>
	<%= link_to "Add room", new_room_path, class: "btn btn-med btn-primary" %>
</div><br />

<div>
	<h2>Your specials</h2>

</div>