<ul class="nav nav-list" style="float:left;margin:0 15px 0 0;">
  <li class="active"><a href="#">Upcomming</a></li>
  <li><%= link_to "Past Events", bar_past_events_reservations_path %></li>
  <li><%= link_to "Never Were", bar_never_were_reservations_path %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    <%= render 'bars/reservations_list_requested', object: current_bar %>
    <%= render 'bars/reservations_list_accepted', object: current_bar %>
    <%= render 'bars/reservations_list_confirmed', object: current_bar %>
  </div>
</div>