<h3>Reservations Requests (please respond ASAP)</h3>
<% if Reservation.of_bar(object).requested.count == 0 %>
  <span style="margin-left:10px">None</span>
<% else %>
  <table class="pretty_table">
    <tr>
      <th class="when">When</th>
      <th class="rm">Room</th>
      <th class="hdct">How many</th>
      <th class="user">Who</th>
      <th class="reqdate">Request date</th>
      <th class="reqdate">Action</th>
    </tr>
    <% Reservation.of_bar(object).requested.each do |reservation| %>
      <tr onmouseover="this.style.cursor='pointer';"
  onclick="location.href='<%= reservation_path(reservation) %>';"
  style="cursor: pointer;">
        <td class="when"><%= reservation.date.strftime("%b %d") %>, 
          <%= TIMES.key(reservation.start_time) %>-<%= TIMES.key(reservation.end_time) %></td>
        <td class="rm"><%= Room.find(reservation.room_id).name.truncate(28) %></td>
        <td class="hdct"><%= pluralize(reservation.hdct, "person") %></td>
        <td class="user"><%= User.find(reservation.user_id).name.truncate(20) %></td>
        <td class="reqdate"><%= reservation.created_at.strftime("%b %d") %></td>
        <td><%= link_to 'Accept', bar_accepts_reservation_path(reservation.id) %> |
            <%= link_to 'Reject', bar_rejects_reservation_path(reservation.id) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Accepted Reservations (waiting for customer confirmation)</h3>
<% if Reservation.of_bar(object).accepted.count == 0 %>
  <span style="margin-left:10px">None</span>
<% else %>
  <table class="pretty_table">
    <tr>
      <th class="when">When</th>
      <th class="rm">Room</th>
      <th class="hdct">How many</th>
      <th class="user">Who</th>
      <th class="reqdate">Request date</th>
    </tr>
    <% Reservation.of_bar(object).accepted.each do |reservation| %>
      <tr onmouseover="this.style.cursor='pointer';"
  onclick="location.href='<%= reservation_path(reservation) %>';"
  style="cursor: pointer;">
        <td class="when"><%= reservation.date.strftime("%b %d") %>, 
          <%= TIMES.key(reservation.start_time) %>-<%= TIMES.key(reservation.end_time) %></td>
        <td class="rm"><%= Room.find(reservation.room_id).name.truncate(28) %></td>
        <td class="hdct"><%= pluralize(reservation.hdct, "person") %></td>
        <td class="user"><%= User.find(reservation.user_id).name.truncate(20) %></td>
        <td class="reqdate"><%= reservation.created_at.strftime("%b %d") %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Upcomming Confirmed Reservations</h3>
<% if Reservation.of_bar(object).confirmed.count == 0 %>
  <span style="margin-left:10px">None</span>
<% else %>
  <table class="pretty_table">
    <tr>
      <th class="when">When</th>
      <th class="rm">Room</th>
      <th class="hdct">How many</th>
      <th class="user">Who</th>
      <th class="reqdate">Request date</th>
    </tr>
    <% Reservation.of_bar(object).confirmed.each do |reservation| %>
      <tr onmouseover="this.style.cursor='pointer';"
  onclick="location.href='<%= reservation_path(reservation) %>';"
  style="cursor: pointer;">
        <td class="when"><%= reservation.date.strftime("%b %d") %>, 
          <%= TIMES.key(reservation.start_time) %>-<%= TIMES.key(reservation.end_time) %></td>
        <td class="rm"><%= Room.find(reservation.room_id).name.truncate(28) %></td>
        <td class="hdct"><%= pluralize(reservation.hdct, "person") %></td>
        <td class="user"><%= User.find(reservation.user_id).name.truncate(20) %></td>
        <td class="reqdate"><%= reservation.created_at.strftime("%b %d") %></td>
      </tr>
    <% end %>
  </table>
<% end %><br><br><br>