<h3>Reservations Requests (please respond ASAP)</h3>
<% if Reservation.of_bar(object).requested.count == 0 %>
  <span style="margin-left:10px">None</span>
<% else %>
  <table class="pretty_table">
    <tr>
      <th class="date">Date</th>
      <th class="tm">Time</th>
      <th class="rm">Room</th>
      <th class="hdct">Event size</th>
      <th class="user">Organizer</th>
      <th class="reqdate">Requested</th>
      <th class="action">Action</th>
    </tr>
    <% Reservation.of_bar(object).requested.each do |reservation| %>
      <tr>
        <td class="date"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= bar_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= reservation.date.strftime("%a, %b %e") %></td>
        <td class="tm"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= bar_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= TIMES.key(reservation.start_time) %>-<%= TIMES.key(reservation.end_time) %></td>
        <td class="rm"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= bar_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= Room.find(reservation.room_id).name.truncate(28) %></td>
        <td class="hdct"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= bar_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= pluralize(reservation.hdct, "person") %></td>
        <td class="user"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= bar_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= User.find(reservation.user_id).name.truncate(20) %></td>
        <td class="reqdate"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= bar_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= reservation.created_at.strftime("%b %d") %></td>
        <td class="action">
          <%= render 'shared/bar_accepts_modal', reservation: reservation %> |
          <%= link_to 'Reject', bar_rejects_reservation_path(reservation.id), 
          rel: "tooltip", title: "Organizer will be automotically notifed by email" %> |
          <%= link_to 'Message', bar_show_reservation_path(reservation) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>