<ul class="rooms">
	<% object.rooms.each do |room| %>
		<li class="room">
	
			<div class="title">
				<span class="strong"><%= link_to room.name, room_path(room) %></span> |
				<% if room.privacy == 1 %> Private room
				<% elsif room.privacy == 2 %> Semi-private room
				<% else %> Shared space
				<% end %>
			</div>
			
			<%= render 'shared/deets', room: room %>
			
			<div class="nofl">
				<strong>Description: </strong><br>
				<%= room.description.gsub(/\n/, '<br/>').html_safe %>
			</div>

			<% if room.restrictions.count >= 1 %>
				<div class="nofl">
					<strong>Restrictions</strong><br />
					<% room.restrictions.each do |restriction| %>
						<div>
							<% if restriction.start_date? && restriction.end_date? %>
								From <%= restriction.start_date.strftime("%b %e") %> to <%= restriction.end_date.strftime("%b %e") %>
							<% end %>
							<% unless !restriction.sunday  && !restriction.monday && !restriction.tuesday && !restriction.wednesday && !restriction.thursday && !restriction.friday && !restriction.saturday %>
								-- On  <% if restriction.sunday %> Sun <% end %>
									<% if restriction.monday %> Mon <% end %>
									<% if restriction.tuesday %> Tues <% end %>
									<% if restriction.wednesday %> Wed <% end %>
									<% if restriction.thursday %> Thurs <% end %>
									<% if restriction.friday %> Fri <% end %>
									<% if restriction.saturday %> Sat <% end %><br />
							<% end %>
							<% if restriction.start_time.nil? && restriction.end_time.nil? %>
							<% elsif restriction.start_time.nil? && restriction.end_time? %>
								-- After <%= restriction.end_time.strftime("%l:%M %p") %>
							<% elsif restriction.start_time? && restriction.end_time.nil? %>
								-- Before <%= restriction.end_time.strftime("%l:%M %p") %>
							<% else %>
								-- Before <%= restriction.start_time.strftime("%l:%M %p") %> and after <%= restriction.end_time.strftime("%l:%M %p") %>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
			
			<% if bar_signed_in? %>
				<div class="nofl">
					<%= link_to "Delete", room, method: :delete, confirm: "You sure?" %> | 
					<%= link_to "Edit", edit_room_path(room) %>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>
<% if bar_signed_in? %>
<%= link_to "Add room", new_room_path, class: "btn btn-med btn-primary" %>
<% end %>
