<ul class="rooms">
	<% if object.rooms.empty? %>
			<p>No rooms currently listed</p>
	<% else %>
		<% object.rooms.each do |room| %>
			<li class="room">
				<% if !bar_signed_in? %>
					<div>
						<a class="btn btn-small btn-info" data-toggle="modal" style="float:right;font-size:1.04em" href="#myModal" >Reserve</a>
					</div>
				<% end %>
					<%= render 'shared/reserve_popup' %>
				<div class="title">
					<span class="strong"><%= link_to room.name, room_path(room) %></span> |
					<% if room.privacy == 1 %> Private room
					<% elsif room.privacy == 2 %> Semi-private room
					<% else %> Shared space
					<% end %>
				</div>
				
				<%= render 'shared/deets', room: room %>
				
				<div class="nofl">
					<strong>Description:</strong>
					<%= room.description %>
				</div>

				<div><%= render 'rooms/specials_delimited', room: room %></div>

				<div><%= render 'rooms/restrictions', room: room %></div>
				
				<% if bar_signed_in? %>
					<div class="nofl">
						<%= link_to "Delete", room, method: :delete, confirm: "You sure?" %> | 
						<%= link_to "Edit", edit_room_path(room) %>
					</div>
				<% end %>
			</li>
		<% end %>
	<% end %>
</ul>
<% if bar_signed_in? %>
<%= link_to "Add room", new_room_path, class: "btn btn-med button"%>
<% end %>
