<div>
	<strong>Description:</strong>
	<%= special.description %>
</div>

<ul>
	<% if special.open_bar %><li>Involves an open bar</li><% end %>
	<% if special.food %><li>Involves food</li><% end %>
	<% if special.min_hdct? %><li>Minimum of <%= special.min_hdct %> people required</li><% end %>
</ul>

<div><%= render 'specials/valid', special: special %></div>

<div>
	<strong>Applicable rooms:</strong><br>
	<ul>
		<% special.rooms.each do |room| %>
			<li><%= room.name %></li>
		<% end %>
	</ul>
</div>

<% if bar_signed_in? %>
	<div class="nofl">
		<%= link_to "Delete", special, method: :delete, confirm: "You sure?" %> | 
		<%= link_to "Edit", edit_special_path(special) %>
	</div>
<% end %>