<h2>Bar Sign In</h2>

<%= form_for(@bar, url: session_path(@bar), method: :post) do |f| %>
  <div class="hform"><%= f.label :email %></div>
  <div><%= f.email_field :email %></div>

  <div class="hform"><%= f.label :password %></div>
  <div><%= f.password_field :password %></div>

  <div style="float:left;margin:20px 0;">
    <%= f.check_box :tac_accepted, required: true, style: "float:left;margin-right:5px;" %>
    <%= f.label :tac_accepted, "I agree to the #{link_to 'BarSlice Terms and Conditions', client_tac_path, 
      target: '_blank'}".html_safe, style: "float:left;cursor:pointer;" %>
    <%= f.hidden_field :id, value: @bar.id %>
  </div>
  <div style="clear:both;"><%= f.submit "Continue" %></div>
<% end %>