<h1><%= @bar.name %></h1>

<div class="bar_info_right">
	<%= render 'shared/bar_info', object: @bar %>
</div>

<ul class="nav nav-tabs span7">
	<li class="active"><a href="#tab1" data-toggle="tab">Rooms</a></li>
	<li><a href="#tab2" data-toggle="tab">Reservation policy</a></li>
	<li><a href="#tab3" data-toggle="tab">Specials</a></li>
</ul>
<div class="tab-content span7">
	<div class="tab-pane active" id="tab1">
      <%= render 'bars/room', object: @bar %>
	</div>
	<div class="tab-pane" id="tab2" style="margin-left:20px">
	<% if bar_signed_in? %>
		<%= render 'bars/respolicy_tab_signedin' %>
	<% else %>
		<% if @bar.respolicy %>
			<strong>Description:</strong><br>
	    	<%= render 'bars/respolicy', object: @bar %>
	  	<% else %>
			<p>No reservation policy currently available</p>
		<% end %>
	<% end %>
	</div>
	<div class="tab-pane" id="tab3">
		<%= render 'bars/specials_list', object: @bar %>
	</div>
</div>