<ul class="rooms">
  <% Bar.all.each do |bar| %>
      <li class="room">
        <div class="title">
          <span class="strong"><%= link_to bar.name, bar_path(bar) %></span> | 
          <%= bar.neighborhood %> |
          <%= bar.rooms.count %> rooms available
        </div><br />
          <% bar.rooms.each do |room| %>
            <span>
              <span class="strong"><%= link_to room.name, room_path(room) %></span> |
              <% if room.privacy == 1 %> Private room
              <% elsif room.privacy == 2 %> Semi-private room
              <% else %> Shared space
              <% end %>
            </span><br />
            <%= render 'shared/deets', room: room %>
          <% end %>
      </li>
  <% end %>
</ul>