<ul class="rooms">
  <% Bar.all.each do |bar| %>
      <li class="room">
        <div class="title">
          <span class="strong"><%= link_to bar.name, bar_path(bar) %></span> | 
            <%= bar.rooms.count %> rooms available
        </div>
          <% bar.rooms.each do |room| %>
            <div class="title" style="margin-bottom:0">
              <%= link_to room.name, room_path(room) %> (
              <% if room.privacy == 1 %> Private room
              <% elsif room.privacy == 2 %> Semi-private room
              <% else %> Shared space
              <% end %> )
            </div>
            <%= render 'shared/deets', room: room %>
            <div class="nofl">
              <% room.roompics.each do |roompic| %>
                <%= link_to image_tag(roompic.pic.url(:thumb)), roompic.pic.url(:large), target: "_blank" %>
              <% end %>
            </div>
          <% end %>
      </li>
  <% end %>
</ul>