<h3 style="margin-bottom:2px;">Accepted Reservations (please confirm ASAP)</h3>
<div style="margin-bottom:10px;">
  <span style="font-style:italic;">
    Note: other requests for the same night will be automatically cancelled once a reservation is confirmed.
  </span>
  <%= render 'shared/why_auto_cancel' %>
</div>
<% if object.reservations.accepted.future.count == 0 %>
  <span style="margin-left:10px">None</span>
<% else %>
  <table class="pretty_table">
    <tr>
      <th class="user">Bar</th>
      <th class="rm">Room</th>
      <th class="date">Date</th>
      <th class="tm">Time</th>
      <th class="hdct">Event size</th>
      <th class="reqdate">Requested</th>
      <th class="action">Action</th>
    </tr>
    <% object.reservations.accepted.future.each do |reservation| %>
      <% room = Room.find(reservation.room_id) %>
      <% bar = Bar.find(room.bar_id) %>
      <tr>
        <td class="user"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= user_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= link_to bar.name.truncate(17), bar_path(bar) %></td>
        <td class="rm"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= user_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= link_to room.name.truncate(18), room_path(room) %></td>
        <td class="date"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= user_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= reservation.date.strftime("%a, %b %e") %></td>
        <td class="tm"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= user_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= TIMES.key(reservation.start_time) %>-<%= TIMES.key(reservation.end_time) %></td>
        <td class="hdct"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= user_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= pluralize(reservation.hdct, "person") %></td>
        <td class="reqdate"
          onmouseover="this.style.cursor='pointer';"
          onclick="location.href='<%= user_show_reservation_path(reservation) %>';"
          style="cursor: pointer;">
          <%= reservation.created_at.strftime("%b %d") %></td>
        <td class="action">
          <% if bar.respolicy %>
            <%= render 'shared/user_accepts_modal_1', reservation: reservation %> |
          <% elsif reservation.cc_required? %>
            <%= render 'shared/user_accepts_modal_2', reservation: reservation %> |
          <% else %>
            <%= render 'shared/user_accepts_modal_3', reservation: reservation %> |
          <% end %>
          <%= render 'shared/user_rejects_modal', reservation: reservation %> |
          <%= link_to 'Message', user_show_reservation_path(reservation) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>