<span class="strong">Bar info:</span><br />
<%= object.email %><br />
(<%= object.phone[0..2] %>) <%= object.phone[3..5] %>-<%= object.phone[6..9] %><br />
<%= link_to object.website, url_with_protocol(object.website), target: "_blank" %><br />
<%= object.address %><br /><br />
Hours of operation:
<ul class="bar_hrs">
	<% object.hrsranges.each do |hrsrange| %>
		<li>
		<% if hrsrange.sunday && hrsrange.monday && hrsrange.tuesday && hrsrange.wednesday && hrsrange.thursday && hrsrange.friday && hrsrange.saturday %>
		<% else %>
			<% range = [] %>
			<% range.push("Monday") if hrsrange.monday %>
			<% range.push("Tuesday") if hrsrange.tuesday %>
			<% range.push("Wednesday") if hrsrange.wednesday %>
			<% range.push("Thursday") if hrsrange.thursday %>
			<% range.push("Friday") if hrsrange.friday %>
			<% range.push("Saturday") if hrsrange.saturday %>
			<% range.push("Sunday") if hrsrange.sunday %>
			<%= DayRange.new(range) %>
		<% end %>
		<% if hrsrange.closed %>
			closed
		<% else %>
			<%= TIMES.key(hrsrange.open) %> to <%= TIMES.key(hrsrange.close) %>
		<% end %>
		</li>
	<% end %>
</ul>
<% if bar_signed_in? %>
	<%= link_to "Edit", edit_bar_registration_path %>
<% end %>

<% if object.claimed == false && !user_signed_in? && !bar_signed_in? %>
	<div>
		<a data-toggle="modal" href="#claimbarModal-<%= object.id %>">Your bar?</a>
		<%= render 'shared/claim_bar_modal', object: object, room: object %>
	</div>
<% end %>