<ul class="bars span9">
  <% Bar.all.each do |bar| %>
      <li class="bar">
        <span class="title">
          <span class="strong"><%= link_to bar.name, bar_path(bar) %></span> | 
          <%= bar.neighborhood %>
        </span>
        <ul class="rooms">
          <% bar.rooms.each do |room| %>
            <li class="room">
              <div style="margin-bottom:0">
                <span class="strong" style="font-size:1.05em"><%= link_to room.name, room_path(room) %></span> |
                <% if room.privacy == 1 %> Private room
                <% elsif room.privacy == 2 %> Semi-private room
                <% else %> Shared space
                <% end %>
              </div>
              <%= render 'shared/deets', room: room %>
              <strong>Description: </strong>
              <%= room.description.truncate(190) %>
            </li>
          <% end %>
        </ul>
      </li>
  <% end %>
</ul>