<ul class="bars">
  <% Bar.order("updated_at desc").all.each do |bar| %>
      <li class="bar">
        <span class="title">
          <span class="strong"><%= link_to bar.name, bar_path(bar) %></span> | <%= bar.neighborhood %>
          <% if bar.claimed == false && !user_signed_in? %>
            <a data-toggle="modal" style="font-size:0.7em" href="#claimbarModal-<%= bar.id %>">(Your bar?)</a>
            <%= render 'shared/claim_bar_modal', object: bar, room: bar %>
          <% end %>
        </span>
        <ul class="brooms">
          <% bar.rooms.order("updated_at").each do |room| %>
            <li class="room">
              <% if !bar_signed_in? %>
                <span style="float:right;margin-top:5px;">
                  <% if user_signed_in? %>
                    <%= link_to "Reserve", new_reservation_path(room), class: "btn btn-small btn-info reserve" %>
                  <% else %>
                    <%= link_to "Reserve", new_user_registration_path(room), class: "btn btn-small btn-info reserve" %>
                  <% end %>
                </span>
              <% end %>
              <span style="float:left;width:80%;margin-top:5px;">
                <span class="strong" style="font-size:1.05em"><%= link_to room.name, room_path(room) %></span> |
                <% if room.privacy == 1 %> Private room
                <% elsif room.privacy == 2 %> Semi-private room
                <% else %> Shared space
                <% end %>
                <%= render 'shared/deets', room: room %>
              </span>
              <div class="nofl" style="width:80%;">
                <strong>Description: </strong>
                <%= room.description.truncate(210) %>
              </div>
            </li>
          <% end %>
        </ul>
      </li>
  <% end %>
</ul>