<ul class="deets">
	<% if room.roompics.count == 1 %>
		<li class="deet">
			<% room.roompics.each do |roompic| %>
				<%= link_to(image_tag(roompic.pic.url(:thumb)), roompic.pic.url(:large), target: "_blank") if roompic.pic_content_type %>
			<% end %>
		</li>
	<% end %>
	<li class="deet">
		<strong>Number of people:</strong><br />
		<ul>
			<% room.hdctranges.each do |hdctrange| %>
				<li>
					<%= hdctrange.min %>-<%= hdctrange.max %>
					<% if hdctrange.sunday && hdctrange.monday && hdctrange.tuesday && hdctrange.wednesday && hdctrange.thursday && hdctrange.friday && hdctrange.saturday %>
					<% else %>
						<% range = [] %>
						<% range.push("Monday") if hdctrange.monday %>
						<% range.push("Tuesday") if hdctrange.tuesday %>
						<% range.push("Wednesday") if hdctrange.wednesday %>
						<% range.push("Thursday") if hdctrange.thursday %>
						<% range.push("Friday") if hdctrange.friday %>
						<% range.push("Saturday") if hdctrange.saturday %>
						<% range.push("Sunday") if hdctrange.sunday %>
						<%= DayRange.new(range) %>
					<% end %>
				</li>
			<% end %>
		</ul>					
	</li>
	<li class="deet">
		<strong>Spend minimum:</strong><br />
		<% unless room.spendmins.any? %>No minimum spend<% end %>
		<ul>
			<% room.spendmins.each do |spendmin| %>
				<li>
					<% if spendmin.min.nil? || spendmin.min == 0 %>
						No minimum spend
					<% else %>
						$<%= spendmin.min %>
						<% if spendmin.sunday && spendmin.monday && spendmin.tuesday && spendmin.wednesday && spendmin.thursday && spendmin.friday && spendmin.saturday %>
						<% else %>
							<% if spendmin.per_person == true %> per person <% end %>
							<% range = [] %>
							<% range.push("Monday") if spendmin.monday %>
							<% range.push("Tuesday") if spendmin.tuesday %>
							<% range.push("Wednesday") if spendmin.wednesday %>
							<% range.push("Thursday") if spendmin.thursday %>
							<% range.push("Friday") if spendmin.friday %>
							<% range.push("Saturday") if spendmin.saturday %>
							<% range.push("Sunday") if spendmin.sunday %>
							<%= DayRange.new(range) %>
						<% end %>
					<% end %> 
				</li>
			<% end %>
		</ul>					
	</li>
	<li class="deet">
		<strong>Reservation fee:</strong><br />
		<% unless room.fees.any? %>No reservation fee<% end %>
		<ul>
			<% room.fees.each do |fee| %>
				<li>
					<% if fee.amount.nil? || fee.amount == 0 %>
						No reservation fee
					<% else %>
						$<%= fee.amount %>
						<% if fee.sunday && fee.monday && fee.tuesday && fee.wednesday && fee.thursday && fee.friday && fee.saturday %>
						<% else %>
							<% range = [] %>
							<% range.push("Monday") if fee.monday %>
							<% range.push("Tuesday") if fee.tuesday %>
							<% range.push("Wednesday") if fee.wednesday %>
							<% range.push("Thursday") if fee.thursday %>
							<% range.push("Friday") if fee.friday %>
							<% range.push("Saturday") if fee.saturday %>
							<% range.push("Sunday") if fee.sunday %>
							<%= DayRange.new(range) %>
						<% end %>
					<% end %> 
				</li>
			<% end %>
		</ul>					
	</li>
</ul>
<% if room.roompics.count > 1 %>
	<div class="nofl">
		<% room.roompics.each do |roompic| %>
			<%= link_to(image_tag(roompic.pic.url(:thumb)), roompic.pic.url(:large), target: "_blank") if roompic.pic_content_type %>
		<% end %>
	</div>
<% end %>
