<%= form_for(@message) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field" id="msgform">
		<%= f.text_area :content, placeholder: "Compose new message...", style: "height:150px;width:99%" %>
		Upload attachment: <%= f.file_field :attachment %>
		<%= f.hidden_field :reservation_id, value: @reservation.id %>
	</div><br>
	<%= f.submit "Send", class: "btn btn-med" %>
<% end %>