<a data-toggle="modal" href="#useracceptsModal-<%= reservation.id %>">Confirm</a>

<div class="modal hide" id="useracceptsModal-<%= reservation.id %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>You must agree to <%= "#{Bar.find(Room.find(reservation.room_id).id).name}'s" %> reservation policy before confirming your reservation</h3>
  </div>
  <div class="modal-body">
    <p class=strong>Reservation policy:</p>
    <%= Bar.find(Room.find(reservation.room_id).id).respolicy.description.gsub(/\n/, '<br/>').html_safe %>
  </div>
  <%= form_for(reservation, url: user_accepts_reservation_path(reservation.id)) do |f| %>
    <div class="modal-footer">
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.check_box :respolicy_accepted, style: "float:left;margin-right:10px;" %>
      <%= f.label :respolicy_accepted, "I agree to #{Bar.find(Room.find(reservation.room_id).id).name}'s reservation policy", 
        class: "strong", style: "float:left;font-weight:bold;cursor:pointer;" %>
      <!--
      <% if reservation.cc_required == true %>
        <div style="float:right;text-align:left;">
          <div class="strong" style="margin-bottom:10px;"><%= "#{Bar.find(Room.find(reservation.room_id).id).name} requires a credit card number to confirm this reservation" %></div>
          <div>
            <div style="float:left;margin-right:25px;">
              <%= f.label :card_number %>
              <%= f.text_field :cc_number %>
            </div>
            <div>
              <%= f.label :expiration_date %>
              <%= f.text_field :cc_exp_month, placeholder: "mm", style: "width:40px" %>
              <%= f.text_field :cc_exp_year, placeholder: "yyyy", style: "width:50px;margin-left:10px;" %>
            </div>
          </div>
        </div>
      <% end %>
      -->
      <%= f.submit "Confirm reservation", class: "btn" %>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  <% end %>
</div>

<style type="text/css">
  #useracceptsModal-<%= reservation.id %> .modal-body {
    max-height: 200px;
  }
  #useracceptsModal-<%= reservation.id %> {
    width: 900px; /* SET THE WIDTH OF THE MODAL */
    margin: -250px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
  }
</style>

<script type="text/javascript">
  $('document').ready(function() {
    if ($('#error_explanation').length > 0) {
      $("#useracceptsModal-<%= reservation.id %>").css("display", "block");
    }
  })

  $('document').ready(function() {
    if ($('#error_explanation').length > 0) {
      $("#useracceptsModal-<%= reservation.id %>").modal('toggle');
    }
  })
</script>