<a data-toggle="modal" href="#useracceptsModal-<%= reservation.id %>">Confirm</a>
<% bar = Bar.find(Room.find(reservation.room_id).bar_id) %>
          
<% if bar.respolicy %>

  <div class="modal hide" id="useracceptsModal-<%= reservation.id %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>You must agree to <%= "#{bar.name}'s" %> reservation policy before confirming your reservation</h3>
    </div>
    <div class="modal-body">
      <p class=strong>Reservation policy:</p>
        <% if bar.respolicy %>
          <%= bar.respolicy.description.gsub(/\n/, '<br/>').html_safe %>
        <% end %>
    </div>
    <div class="modal-footer">
      <%= form_for(reservation, url: user_accepts_reservation_path(reservation.id)) do |f| %>
        <div>
          <div style="float:left;">
            <div>
              <%= f.check_box :respolicy_accepted, style: "float:left;margin-right:10px;", 
              id: "reservation_respolicy_accepted_#{reservation.id}" %>
              <%= f.label :respolicy_accepted, "I agree to #{bar.name}'s reservation policy",
                class: "strong", style: "float:left;font-weight:bold;cursor:pointer;",
                for: "reservation_respolicy_accepted_#{reservation.id}" %>
            </div>
            <div id="respolicy_error_<%= reservation.id %>" class="jquery_validation" style="text-align:left;">
              <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
            </div>
          </div>
          <div style="float:right;text-align:left;">
            <% if reservation.cc_required == true %>
              <div id="card_required_<%= reservation.id %>">
                <div class="strong" style="margin-bottom:10px;"><%= "#{bar.name} requires a credit card number to confirm this reservation" %></div>
                <% if current_user.stripe_customer_id? %>
                  <%= "Your #{current_user.stripe_card_type}: xxxxxx#{current_user.stripe_card_last4}" %> |
                  <a href="javascript:void(0);" id="togglediv_<%= reservation.id %>">Edit card info</a>
                  <div id="edit_card_<%= reservation.id %>" style="display:none;margin-top:10px;">
                    <div style="float:left;margin-right:25px;">
                      <%= label_tag :card_number, "Credit Card Number" %>
                      <%= text_field_tag :card_number, nil, name: nil, id: "card_number_#{reservation.id}" %>
                    </div>
                    <div>
                      <%= label_tag :card_month, "Card Expiration" %>
                      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month_#{reservation.id}", style: "width:100px"} %>
                      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year_#{reservation.id}", style: "width:70px;margin-left:10px;"} %>
                    </div>
                    <div id="stripe_error_<%= reservation.id %>" class="jquery_validation">
                      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
                    </div>
                    <%= f.hidden_field :stripe_card_token, id: "reservation_stripe_card_token_#{reservation.id}" %>
                  </div>
                <% else %>
                  <div>
                    <div style="float:left;margin-right:25px;">
                      <%= label_tag :card_number, "Credit Card Number" %>
                      <%= text_field_tag :card_number, nil, name: nil, id: "card_number_#{reservation.id}" %>
                    </div>
                    <div>
                      <%= label_tag :card_month, "Card Expiration" %>
                      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month_#{reservation.id}", style: "width:100px"} %>
                      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year_#{reservation.id}", style: "width:70px;margin-left:10px;" } %>
                    </div>
                  </div>
                  <div id="stripe_error_<%= reservation.id %>" class="jquery_validation">
                    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
                  </div>
                  <%= f.hidden_field :stripe_card_token %>
                <% end %>
              </div>
            <% end %>
            <div style="float:right;margin-top:30px;">
              <%= f.submit "Confirm reservation", class: "btn" %>
              <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <style type="text/css">
    #useracceptsModal-<%= reservation.id %> .modal-body {
      max-height: 250px;
    }
    #useracceptsModal-<%= reservation.id %> {
      width: 900px; /* SET THE WIDTH OF THE MODAL */
      margin: -300px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
    }
  </style>

<% elsif bar.respolicy == nil && reservation.cc_required? %>

  <div class="modal hide" id="useracceptsModal-<%= reservation.id %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3><%= "#{bar.name} requires a credit card number to confirm this reservation" %></h3>
    </div>
    <%= form_for(reservation, url: user_accepts_reservation_path(reservation.id), html: { style: "margin-bottom:0;" }) do |f| %>
      <div class="modal-body">
        <% if reservation.cc_required == true %>
          <div id="card_required_<%= reservation.id %>">
            <% if current_user.stripe_customer_id? %>
              <%= "Your #{current_user.stripe_card_type}: xxxxxx#{current_user.stripe_card_last4}" %> |
              <a href="javascript:void(0);" id="togglediv_<%= reservation.id %>">Edit card info</a>
              <div id="edit_card_<%= reservation.id %>" style="display:none;margin-top:10px;">
                <div style="float:left;margin-right:25px;">
                  <%= label_tag :card_number, "Credit Card Number" %>
                  <%= text_field_tag :card_number, nil, name: nil, id: "card_number_#{reservation.id}" %>
                </div>
                <div>
                  <%= label_tag :card_month, "Card Expiration" %>
                  <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month_#{reservation.id}", style: "width:100px"} %>
                  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year_#{reservation.id}", style: "width:70px;margin-left:10px;"} %>
                </div>
                <div id="stripe_error_<%= reservation.id %>" class="jquery_validation">
                  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
                </div>
                <%= f.hidden_field :stripe_card_token %>
              </div>
            <% else %>
              <div>
                <div style="float:left;margin-right:25px;">
                  <%= label_tag :card_number, "Credit Card Number" %>
                  <%= text_field_tag :card_number, nil, name: nil, id: "card_number_#{reservation.id}" %>
                </div>
                <div>
                  <%= label_tag :card_month, "Card Expiration" %>
                  <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month_#{reservation.id}", style: "width:100px"} %>
                  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year_#{reservation.id}", style: "width:70px;margin-left:10px;" } %>
                </div>
              </div>
              <div id="stripe_error_<%= reservation.id %>" class="jquery_validation">
                <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
              </div>
              <%= f.hidden_field :stripe_card_token, id: "reservation_stripe_card_token_#{reservation.id}" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Confirm reservation", class: "btn" %>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    <% end %>
  </div>

  <style type="text/css">
    #useracceptsModal-<%= reservation.id %> .modal-body {
      max-height: 250px;
    }
    #useracceptsModal-<%= reservation.id %> {
      width: 600px; /* SET THE WIDTH OF THE MODAL */
      margin: -200px 0 0 -300px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
    }
  </style>
  
<% else %>

  <div class="modal hide" id="useracceptsModal-<%= reservation.id %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3><%= "Confirm your reservation with #{bar.name}" %></h3>
    </div>
    <div class="modal-body">
      <p><%= "By clicking, 'Confirm reservation' #{bar.name} will be notified of your response" %></p>
    </div>
    <div class="modal-footer">
      <%= link_to "Confirm reservation", user_accepts_reservation_path(reservation.id), class: "btn", method: :put %>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">
  $(function () {
    $('#togglediv_<%= reservation.id %>').click(function(){
      $('#edit_card_<%= reservation.id %>').toggle();
    });
  });
</script>

<script type="text/javascript">
  var subscription_<%= reservation.id %>;

  $(function() {
    Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
    return subscription_<%= reservation.id %>.setupForm();
  });

  subscription_<%= reservation.id %> = {
    setupForm: function() {
      return $('#edit_reservation_<%= reservation.id %>').submit(function() {
        $('input[type=submit]').attr('disabled', true);
        if (($('#edit_card_<%= reservation.id %>').length > 0 && !$("#card_number_<%= reservation.id %>").val().length) || $('#card_required_<%= reservation.id %>').length === 0) {
          if (!$('#reservation_respolicy_accepted_<%= reservation.id %>').is(":checked") && $('#reservation_respolicy_accepted_<%= reservation.id %>').length > 0) {
            $('#respolicy_error_<%= reservation.id %>').text("Reservation policy must be accepted");
            $('input[type=submit]').attr('disabled', false);
            return false;
          } else {
            return true;
          }
        } else {
          subscription_<%= reservation.id %>.processCard_<%= reservation.id %>();
          return false;
        }
      });
    },
    processCard_<%= reservation.id %>: function() {
      var card_<%= reservation.id %>;
      card_<%= reservation.id %> = {
        number: $('#card_number_<%= reservation.id %>').val(),
        expMonth: $('#card_month_<%= reservation.id %>').val(),
        expYear: $('#card_year_<%= reservation.id %>').val()
      };
      return Stripe.createToken(card_<%= reservation.id %>, subscription_<%= reservation.id %>.handleStripeResponse_<%= reservation.id %>);
    },
    handleStripeResponse_<%= reservation.id %>: function(status, response) {
      if (status === 200) {
        if (!$('#reservation_respolicy_accepted_<%= reservation.id %>').is(":checked") && $('#reservation_respolicy_accepted_<%= reservation.id %>').length > 0) {
          $('#respolicy_error_<%= reservation.id %>').text("Reservation policy must be accepted");
          return $('input[type=submit]').attr('disabled', false);
        } else {
          $('#reservation_stripe_card_token_<%= reservation.id %>').val(response.id);
          return $('#edit_reservation_<%= reservation.id %>')[0].submit();
        }
      } else {
        if (!$('#reservation_respolicy_accepted_<%= reservation.id %>').is(":checked") && $('#reservation_respolicy_accepted_<%= reservation.id %>').length > 0) {
          $('#respolicy_error_<%= reservation.id %>').text("Reservation policy must be accepted");
        }
        $('#stripe_error_<%= reservation.id %>').text(response.error.message);
        return $('input[type=submit]').attr('disabled', false);
      }
    }
  };
</script>