<% if user_signed_in? %>
	<div style="text-align:right;"><%= link_to "Back to My Reservations", user_index_reservations_path %></div>
<% end %>
<h1>Special at <%= link_to Bar.find(@special.bar_id).name, bar_path(@special.bar_id) %>: <%= @special.name %></h1>

<div class="bar_info_right">
	<%= render 'shared/bar_info', object: Bar.find(@special.bar_id) %>
</div>

<ul class="rooms span7">
	<li class="room">
		<%= render 'bars/special', special: @special %>
	</li>
</ul>
