<div style="text-align:right;position:relative;left:70px;margin-bottom:10px;"><%= link_to "Back to reservations page", bar_index_reservations_path %></div>

<div class="row">
	<div class="span4">
		<h3>Reservation details</h3>
		<table class="pretty_table">
	    <tr>
	    	<th class="user">Organizer</th>
	    	<td><%= User.find(@reservation.user_id).name.truncate(20) %></td>
	    </tr>
	    <tr>
	      <th class="date">Date</th>
	      <td><%= @reservation.date.strftime("%a, %b %e") %></td>
	    </tr>
	    <tr>
	    	<th class="tm">Time</th>
	    	<td><%= TIMES.key(@reservation.start_time) %>-<%= TIMES.key(@reservation.end_time) %></td>
	    </tr>
	    <tr>
	    	<th class="rm">Room</th>
	    	<td><%= Room.find(@reservation.room_id).name.truncate(28) %></td>
	    </tr>
	    <tr>
	    	<th class="hdct">Event size</th>
	    	<td><%= pluralize(@reservation.hdct, "person") %></td>
	    </tr>
	  </table>

	  <% if @reservation.user_response == 1 && @reservation.cc_required == true %>
	  	<%= render 'shared/charge_cc_modal', reservation: @reservation, user: @user, charge: @charge %>
	  <% end %>
	</div>

	<div class="span5">
		<h3>Reservation status</h3>
		<table class="pretty_table">
	    <tr>
	    	<td><%= image_tag("glyphicons_152_check.png") %></td>
	    	<td>Requested by <%= @user.name %></td>
	    	<td><%= @reservation.created_at.strftime("%a, %b %e, %l:%M%P") %></td>
	    </tr>
	    <tr>
	    	<% if @reservation.bar_response == 1 %>
	    		<td><%= image_tag("glyphicons_152_check.png") %></td>
    			<td>Accepted by <%= current_bar.name %></td>
    			<td><%= @reservation.bar_accepts_date.strftime("%a, %b %e, %l:%M%P")%></td>
			<% elsif @reservation.bar_response == 2 %>
				<td style="position:relative;right:2px;"><%= image_tag("iconmonstr-x-mark-3-icon.png") %></td>
    			<td>Declined by <%= @bar.name %></td>
    			<td><%= @reservation.user_rejects_date.strftime("%a, %b %e, %l:%M%P")%></td>
			<% elsif @reservation.bar_response == nil %>
				<td><%= image_tag("glyphicons_153_unchecked.png") %></td>
				<td>Accepted by <%= current_bar.name %></td>
				<td>
					<% unless @reservation.user_response == 2 || @reservation.date < Time.now.to_date %>
						<%= render 'shared/bar_accepts_modal', reservation: @reservation %> |
						<%= render 'shared/bar_rejects_modal', reservation: @reservation %>
					<% end %>
				</td>
			<% else %>
    			<td><%= image_tag("glyphicons_153_unchecked.png") %></td>
    			<td>Accepted by <%= current_bar.name %></td>
    			<td><% if @reservation.date >= Time.now.to_date %>Pending<% end %></td>
			<% end %>
	    </tr>
	    <tr>
	    	<% if @reservation.user_response == 1 %>
	    		<td><%= image_tag("glyphicons_152_check.png") %></td>
	    		<td>Confirmed by <%= @user.name %></td>
	    		<td><%= @reservation.user_accepts_date.strftime("%a, %b %e, %l:%M%P")%></td>
			<% elsif @reservation.user_response == 2 %>
    			<td style="position:relative;right:2px;"><%= image_tag("iconmonstr-x-mark-3-icon.png") %></td>
    			<td>Cancelled by <%= @user.name %></td>
    			<td><%= @reservation.user_rejects_date.strftime("%a, %b %e, %l:%M%P")%></td>
			<% else %>
    			<td><%= image_tag("glyphicons_153_unchecked.png") %></td>
    			<td>Confirmed by <%= @user.name %></td>
    			<td><% if @reservation.date >= Time.now.to_date %>Pending<% end %></td>
			<% end %>
	    </tr>
	  </table>

	  <% if @room.specials.filtered(@reservation) != [] %>
			<h3 style="margin-bottom:2px;"><%= "Your specials available to #{@user.name}:" %></h3>
			<ul style="margin-left:16px;">
				<% if @room.specials.filtered(@reservation).count <= 3 %>
					<% @room.specials.filtered(@reservation).each do |special| %>
						<li><%= link_to special.name, special_path(special.id), target: "_blank" %></li>
					<% end %>
				<% else %>
					<% @room.specials.filtered(@reservation)[0..1].each_with_index do |special, i| %>
						<li><%= link_to special.name, special_path(special.id), target: "_blank" %></li>
					<% end %>
					<div id="more_specials" style="display:none;">
          	<% @room.specials.filtered(@reservation)[2..-1].each_with_index do |special, i| %>
							<li><%= link_to special.name, special_path(special.id), target: "_blank" %></li>
						<% end %>
          </div>
          <li><a href="javascript:void(0);" id="togglediv">More</a></li>
        <% end %>
			</ul>
		<% end %>
	</div>
</div>

<div>
	<% if @reservation.messages.any? %>
		<h3>Message history</h3>
		<% @reservation.messages.each do |message| %>
			<div>
				<div class="msg_info">
					<span class="strong">
					<% if message.sent_by == false %>
						<%= Bar.find(message.bar_id).name %>
					<% elsif message.sent_by == true %>
						<%= User.find(message.user_id).name %>
					<% end %>
					</span>|
					<span><%= message.created_at.strftime("%a, %b %e, %l:%M%P") %></span>
				</div>
				<div class="content">
					<%= message.content.gsub(/\n/, '<br/>').html_safe %>
					<% if message.attachment_file_name? %>
						<br><br>
						<%= image_tag("glyphicons_062_paperclip.png", size: "14x14", style: "position:relative;bottom:2px;") %>
						<%= link_to(message.attachment_file_name, bar_view_attachment_message_path(message.id), target: "_blank") %>
					<% end %>
				</div>
			</div><br>
		<% end %>
	<% end %>
</div>

<h3>Send a message to <%= User.find(@reservation.user_id).name %></h3>
<div><%= render 'shared/message_form' %></div>