<div style="text-align:right;"><%= link_to "Back to My Reservations", user_index_reservations_path %></div>

<div class="row">
	<div class="span4">
		<h3>Reservation details:</h3>
		<table class="pretty_table">
	    <tr>
	    	<th class="user">Bar</th>
	    	<td><%= link_to @bar.name.truncate(20), bar_path(@bar) %></td>
	    </tr>
	    <tr>
	    	<th class="rm">Room</th>
	    	<td><%= link_to @room.name.truncate(28), room_path(@room) %></td>
	    </tr>
	    <tr>
	      <th class="date">Date</th>
	      <td><%= @reservation.date.strftime("%a, %b %e") %></td>
	    </tr>
	    <tr>
	    	<th class="tm">Time</th>
	    	<td><%= TIMES.key(@reservation.start_time) %>-<%= TIMES.key(@reservation.end_time) %></td>
	    </tr>
	    <tr>
	    	<th class="hdct">Event size</th>
	    	<td><%= pluralize(@reservation.hdct, "person") %></td>
	    </tr>
	  </table>
	</div>

	<div class="span6">
		<h3>Reservation status:</h3>
		<table class="pretty_table">
	    <tr>
	    	<td><%= image_tag("glyphicons_152_check.png") %></td>
	    	<td>Requested by <%= current_user.name %></td>
	    	<td><%= @reservation.created_at.strftime("%a, %b %e, %l:%M%P") %></td>
	    </tr>
	    <tr>
	    	<td>
	    		<% if @reservation.bar_response == 1 %>
	    			<%= image_tag("glyphicons_152_check.png") %>
    			<% else %>
    				<%= image_tag("glyphicons_153_unchecked.png") %>
    			<% end %>
    		</td>
	    	<td>Accepted by <%= @bar.name %></td>
	    	<td>
	    		<% if @reservation.bar_response == 1 %>
	    			<%= @reservation.bar_accepts_date.strftime("%a, %b %e, %l:%M%P")%>
    			<% else %>
    				Pending
				<% end %>
	    	</td>
	    </tr>
	    <tr>
	    	<td>
	    		<% if @reservation.user_response == 1 %>
	    			<%= image_tag("glyphicons_152_check.png") %>
    			<% else %>
    				<%= image_tag("glyphicons_153_unchecked.png") %>
    			<% end %>
    		</td>
	    	<td>Confirmed by <%= current_user.name %></td>
	    	<td>
	    		<% if @reservation.bar_response == 1 && @reservation.user_response != 1 %>
	    			<% if @bar.respolicy %>
	    				<%= render 'shared/user_accepts_modal_1', reservation: @reservation %> |
    				<% elsif @reservation.cc_required? %>
    					<%= render 'shared/user_accepts_modal_2', reservation: @reservation %> |
    				<% else %>
    					<%= render 'shared/user_accepts_modal_3', reservation: @reservation %> |
    				<% end %>
					<%= render 'shared/user_rejects_modal', reservation: @reservation %>
	    		<% elsif @reservation.user_response == 1 %>
	    			<%= @reservation.user_accepts_date.strftime("%a, %b %e, %l:%M%P")%>
    			<% else %>
    				Pending
				<% end %>
	    	</td>
	    </tr>
	  </table>
	</div>
</div>

<div>
	<% if @reservation.messages.any? %>
		<h3>Message history</h3>
		<% @reservation.messages.each do |message| %>
			<div>
				<div class="msg_info">
					<span class="strong">
					<% if message.sent_by == false %>
						<%= Bar.find(message.bar_id).name %>
					<% elsif message.sent_by == true %>
						<%= User.find(message.user_id).name %>
					<% end %>
					</span>|
					<span><%= message.created_at.strftime("%a, %b %e, %l:%M%P") %></span>
				</div>
				<div class="content">
					<%= message.content.gsub(/\n/, '<br/>').html_safe %>
					<% if message.attachment_file_name? %>
						<br><br>
						<%= image_tag("glyphicons_062_paperclip.png", size: "14x14", style: "position:relative;bottom:2px;") %>
						<%= link_to(message.attachment_file_name, user_view_attachment_message_path(message.id), target: "_blank") %>
					<% end %>
				</div>
			</div><br>
		<% end %>
	<% end %>
</div>

<h3>Send a message to <%= @bar.name %></h3>
<div><%= render 'shared/message_form' %></div>