<%= render 'shared/error_messages', object: f.object %>

<%= f.label :bar_name, class: "hform strong" %>
<%= f.text_field :bar_name %>

<%= f.label :location, class: "hform strong" %>
<%= f.select :location, Bar::NEIGHBORHOODS, include_blank: true, multiple: true %><br /><br />

<span class="hform strong">Date</span>
<%= f.text_field :date, class: "datepicker", style: "width: 100px" %><br /><br />

<span class="hform strong">Time</span>
<%= f.select :start_time, TIMES.keys, { selected: "9:00 PM" }, class: "time" %> to 
<%= f.select :end_time, TIMES.keys, { selected: "1:00 AM" }, class: "time" %><br /><br />

<span class="hform strong">Number of people</span>
<%= f.text_field :hdct, style:"width:100px" %>

<%= f.label :privacy, class: "hform strong" %>
<%= f.radio_button :privacy, 1 %> Private
<%= f.radio_button :privacy, 2 %> Semi-private
<%= f.radio_button :privacy, 3 %> Shared space<br /><br />

<script type="text/javascript">
	$(function() {
		$(".datepicker").datepicker();
	});
</script>