<%= render 'shared/error_messages', object: f.object %>

<div>
	<div class="search_form row">
		<div class="span3 search_sections" style="padding-left:20px">
			<div class="hform strong">Event Details</div>

			<div>
				<i class="icon-calendar" style="font-size:2em;margin-right:10px;position:relative;top:2px;"></i>
				<% if f.object.date? %>
					<%= f.text_field :date, class: "datepicker", style: "width: 180px", value: f.object.date.strftime("%m/%d/%Y") %>
				<% else %>
					<%= f.text_field :date, class: "datepicker", style: "width: 180px", value: (Time.now + 1.day).strftime("%m/%d/%Y") %>
				<% end %>
			</div><br>

			<div>
				<i class="icon-time" style="font-size:2em;margin-right:5px;position:relative;top:7px;"></i>
				<% if f.object.start_time? %>
					<%= f.select :start_time, TIMES.keys, { selected: TIMES.key(f.object.start_time) }, class: "time" %> to
				<% else %>
					<%= f.select :start_time, TIMES.keys, { selected: "9:00pm" }, class: "time" %> to 
				<% end %>

				<% if f.object.end_time? %>
					<%= f.select :end_time, TIMES.keys, { selected: TIMES.key(f.object.end_time) }, class: "time" %>
				<% else %>
					<%= f.select :end_time, TIMES.keys, { selected: "1:00am" }, class: "time" %>
				<% end %>
			</div><br>

			<div>
				<i class="icon-user" style="font-size:2em;margin-right:10px;position:relative;top:3px;"></i>
				<%= f.text_field :hdct, style:"width:180px", placeholder: "Estimated number of people" %>
			</div>
		</div>

		<div class="span3 search_sections">
			<%= f.label :location, "By Location", class: "hform strong" %>
			<%= f.select :location, Bar::NEIGHBORHOODS, { include_blank: true }, style: "width:220px" %><br><br>

			<%= f.label :bar_name, "By Bar", class: "hform strong" %>
			<%= f.text_field :bar_name, style: "width: 210px" %>
		</div>

		<div class="span3 search_sections">
			<div class="hform strong">Optional Filters</div>
			<div>
				<!--Privacy:
				<%= f.select :privacy, ["Private", "Semi-private", "Shared space"], { include_blank: true }, style: "width:165px;margin-left:5px" %>-->
				<%= f.radio_button :privacy, 1 %> Private
				<%= f.radio_button :privacy, 2 %> Semi-private
				<%= f.radio_button :privacy, 3 %> Shared space
			</div><br>
			<div><%= f.check_box :no_fee %> No fees</div><br>
			<div><%= f.check_box :no_spendmin %> No spend minimums</div><br>
			<div><%= f.check_box :has_open_bar %> Open bar available</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$(".datepicker").datepicker();
	});
</script>