<h2>Find a bar for your event</h2>

<%= form_for @search do |f| %>
	<%= render 'searches/fields', f: f %>
	<%= f.submit "Search", class: "btn btn-large" %>
<% end %><br />

<ul class="nav nav-pills">
  <li class="active"><a href="#">View by Room</a></li>
  <li><%= link_to "View by Bar", by_bar_path %></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active">
    <%= render 'shared/by_room' %>
  </div>
</div>