<div class='dfield'>
	$ <%= f.text_field :amount, style: 'width: 50px;' %>
	
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_fields remove" %><br />

	<div>
		<%= f.check_box :sunday %> S		
		<%= f.check_box :monday %> M
		<%= f.check_box :tuesday %> T
		<%= f.check_box :wednesday %> W
		<%= f.check_box :thursday %> T
		<%= f.check_box :friday %> F
		<%= f.check_box :saturday %> S
	</div>
</div>