<%= render 'shared/error_messages', object: f.object %>

<%= f.label :name, "Room name", class: "hform strong" %>
<%= f.text_field :name %>

<%= f.label :privacy, class: "hform strong" %>
<%= f.radio_button :privacy, 1 %> Private
<%= f.radio_button :privacy, 2 %> Semi-private
<%= f.radio_button :privacy, 3 %> Shared space

<div class="hform strong">Number of people</div>
<%= f.fields_for :hdctranges do |builder| %>
	<%= render 'hdctrange_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Add", f, :hdctranges %>

<div class="hform"><span class="strong">Reservation fee</span> (leave blank if no reservation fee)</div>
<%= f.fields_for :fees do |builder| %>
	<%= render 'fee_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Add", f, :fees %>

<div class="hform"><span class="strong">Spend minimum</span> (leave blank if no spend minimum)</div>
<%= f.fields_for :spendmins do |builder| %>
	<%= render 'spendmin_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Add", f, :spendmins %>

<div class="hform strong">Description</div>
<%= f.text_area :description, placeholder: "Descibe the room itself and any relevant conditions to booking it.", style: 'height: 100px; width:400px' %>

<div class="hform"><span class="strong">Availability restrictions</span> (leave blank if normal bar hours apply)</div>
<%= f.fields_for :restrictions do |builder| %>
	<%= render 'restriction_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Add", f, :restrictions %>

<div class="hform strong">Pictures</div>
<%= f.fields_for :roompics do |builder| %>
	<%= render 'roompic_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Add", f, :roompics %>
<br /><br /><br />
