<% if room.restrictions.count >= 1 %>
	<strong>Restrictions:</strong><br />
	<ul class="restrictions">
		<% room.restrictions.each do |restriction| %>
			<li class="restriction">
				<% if restriction.start_date? && restriction.end_date? %>
					<% if restriction.start_date == restriction.end_date %>
						<%= restriction.start_date.strftime("%B %e") %>.
					<% else %>
						<%= restriction.start_date.strftime("%B %e") %> to <%= restriction.end_date.strftime("%B %e") %>.
					<% end %>
				<% end %>
				<% unless restriction.sunday  && restriction.monday && restriction.tuesday && restriction.wednesday && restriction.thursday && restriction.friday && restriction.saturday %>
						<% if restriction.sunday %> Sun <% end %>
						<% if restriction.monday %> Mon <% end %>
						<% if restriction.tuesday %> Tues <% end %>
						<% if restriction.wednesday %> Wed <% end %>
						<% if restriction.thursday %> Thurs <% end %>
						<% if restriction.friday %> Fri <% end %>
						<% if restriction.saturday %> Sat <% end %>.
				<% end %>
				<% if restriction.before.nil? && restriction.after.nil? %>
				<% elsif restriction.before.nil? && restriction.after? %>
					After <%= restriction.after %>.
				<% elsif restriction.before? && restriction.after.nil? %>
					Before <%= restriction.before %>.
				<% else %>
					Before <%= restriction.before %> and after <%= restriction.after %>.
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>