<div class="dfield">
	Start date: <%= f.text_field :start_date, class: "datepicker", style: "width: 100px" %>
	End date:   <%= f.text_field :end_date, class: "datepicker", style: "width: 100px" %>

	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_fields remove" %>
	<div><br />
		<%= f.check_box :sunday %> S		
		<%= f.check_box :monday %> M
		<%= f.check_box :tuesday %> T
		<%= f.check_box :wednesday %> W
		<%= f.check_box :thursday %> T
		<%= f.check_box :friday %> F
		<%= f.check_box :saturday %> S
	</div><br />
	Before:  <%= f.select :before, TIMES.keys, { include_blank: true }, class: "time" %>
	After: <%= f.select :after, TIMES.keys, { include_blank: true }, class: "time" %>
</div>
<script type="text/javascript">
	$(function() {
		$(".datepicker").datepicker();
	});
</script>
