<li class="room span8">
	
	<% if !bar_signed_in? %>	
		<span style="float:right;margin-top:5px;">
    	<% if user_signed_in? %>
    		<%= link_to "Reserve", new_reservation_path(room), class: "btn btn-small btn-info reserve" %>
    	<% else %>
    		<%= link_to "Reserve", new_user_registration_path(room), class: "btn btn-small btn-info reserve" %>
  		<% end %>
		</span>
	<% end %>
	<span style="float:left;width:80%;margin-top:5px;">
		<span class="title">
		    <span class="strong"><%= link_to Bar.find(room.bar_id).name, bar_path(Bar.find(room.bar_id)) %></span> |
	    	<%= Bar.find(room.bar_id).neighborhood %>
	    	<% if Bar.find(room.bar_id).claimed == false && !user_signed_in? %>
	    		<a data-toggle="modal" style="font-size:0.7em" href="#claimbarModal-<%= room.id %>">(Your bar?)</a>
	    		<%= render 'shared/claim_bar_modal', object: Bar.find(room.bar_id), room: room %>
	    	<% end %>
    </span>
		<span><br>
    	<span class="strong"><%= link_to room.name, room_path(room) %></span> | 
	    <% if room.privacy == 1 %> Private room
	    <% elsif room.privacy == 2 %> Semi-private room
	    <% else %> Shared space
	    <% end %>
	  </span><br>
  	<%= render 'shared/deets', room: room %>
  </span>
	<div class="nofl">
		<strong>Description: </strong>
		<%= room.description.truncate(180) %>
	</div>
	<div>
		<% if !@sfiltered.nil? %>
			<% a = [] %>
			<% @sfiltered.each do |s| %>
				<% b = s.rooms %>
				<% if b.include?(room) %>
					<% a.push(s) %>
				<% end %>
			<% end %>
			<% if a.any? %>
				<strong>Specials:</strong>
				<% c = a.count - 1 %>
				<% a.each_with_index do |special, idx| %>
				  <%= link_to special.name, special_path(special) %><%= " • " unless idx == c %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</li>