<div class='dfield'>
	$ <%= f.text_field :min, style: 'width: 50px;' %>
	
	<%= f.radio_button :per_person, false %> Total
	<%= f.radio_button :per_person, true %> Per person
	<%= f.hidden_field :_destroy %>
	<span class='remove'><%= link_to "Remove", '#', class: "remove_fields" %></span><br />
	
	<div>
		<%= f.check_box :sunday %> S
		<%= f.check_box :monday %> M
		<%= f.check_box :tuesday %> T
		<%= f.check_box :wednesday %> W
		<%= f.check_box :thursday %> T
		<%= f.check_box :friday %> F
		<%= f.check_box :saturday %> S
	</div>
</div>