<div class='dfield'>
	$ <%= f.text_field :min, style: 'width: 50px;' %>
	
	<%= f.radio_button :per_person, false %> Total
	<%= f.radio_button :per_person, true %> Per person
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_fields remove" %><br />
	
	<div><%= render 'shared/form_week_days', f: f, object: current_bar.hrsranges %></div>
</div>