<h1><%= @room.name %> at <%= link_to Bar.find_by_id(@room.bar_id).name, bar_path(@room.bar_id) %></h1>

<div class="bar_info_right">
	<%= render 'shared/bar_info', object: Bar.find_by_id(@room.bar_id) %>
</div>
<div class="rooms">
	<div class="room_show span7">
		<div class="title">
			<span class="strong"><%= @room.name %></span> |
			<% if @room.privacy == 1 %> Private room
			<% elsif @room.privacy == 2 %> Semi-private room
			<% else %> Shared space
			<% end %>
		</div>
		<div><%= render 'shared/deets', room: @room %></div>
		<div class="nofl">
			<strong>Description: </strong>
			<%= @room.description %>
		</div>
		<div><%= render 'rooms/specials_delimited', room: @room %></div>
		<div><%= render 'rooms/restrictions', room: @room %></div><br>
		<% if Bar.find_by_id(@room.bar_id).respolicy %>
			<div class="nofl">
				<strong>Reservation policy:</strong><br>
				<%= render 'bars/respolicy', object: Bar.find_by_id(@room.bar_id) %>
			</div>
		<% end %>
		<% if !bar_signed_in? %>
			<div><a class="btn btn-small btn-info" data-toggle="modal" style="font-size:1.04em" href="#reserveModal" >Reserve</a></div>
			<div class="nofl"><%= render 'shared/reserve_modal' %></div>
		<% end %>
	</div>
<div>
