<h1><%= @room.name %> at <%= link_to Bar.find_by_id(@room.bar_id).name, bar_path(@room.bar_id) %></h1>

<div class="bar_info_right">
	<%= render 'shared/bar_info', object: Bar.find_by_id(@room.bar_id) %>
</div>

<ul class="rooms">
	<li class="room">
		<div class="title">
			<span class="strong"><%= @room.name %></span> |
			<% if @room.privacy == 1 %> Private room
			<% elsif @room.privacy == 2 %> Semi-private room
			<% else %> Shared space
			<% end %>
		</div>
		<%= render 'shared/deets', room: @room %>
		<div class="nofl">
			<strong>Description: </strong><br>
			<%= @room.description.gsub(/\n/, '<br/>').html_safe %>
		</div>
		<div>
			<%= render 'rooms/restrictions', room: @room %>
		</div><br /><br />
		<% if Bar.find_by_id(@room.bar_id).respolicy %>
			<div class="nofl">
				<strong>Reservation policy:</strong><br>
				<%= render 'bars/respolicy' %>
			</div>
		<% end %>
	</li>
<ul>
