<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "BarSlice", root_path, id: "logo" %>
			<div id="session">
				<% if user_signed_in? %>
			        <%= current_user.email %> |
			        <%= link_to 'Sign out', destroy_user_session_path, method: "delete" %>
		        <% elsif bar_signed_in? %>
			        <%= current_bar.email %> | 
			        <span class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", root_path %></li>
							<li><%= link_to "Edit info", edit_bar_registration_path %></li>
							<li class="divider"></li>
							<li><%= link_to 'Sign out', destroy_bar_session_path, method: "delete" %></li>
						</ul>
					</span>
			    <% else %>
			    	<%= link_to "About", about_path %> | 
			        <span class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">For bars<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Sign up", new_bar_registration_path %></li>
							<li><%= link_to "Sign in", new_bar_session_path %></li>
						</ul>
					</span> |
			        <%= link_to 'Sign in', new_user_session_path %>
			    <% end %>
		    </div>
		</div>
	</div>
</header>