<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
	  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<div class="span10 offset1" style="position:relative;right:25px;">
				<% flash.each do |key, value| %>
					<div class="alert alert-#{key}">
						<a class="close" data-dismiss="alert">x</a>
						<%= content_tag(:div, value) %>
					</div>
				<% end %>
				
				<%= yield %>

				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
			</div>
		</div>
	</body>
</html>